/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*----------------*/
@font-face {
  font-family: "OpenSans-Medium";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}
html,
body {
  height: 100%;
}

body {
  font-family: "OpenSans-Medium", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.test {
  background-color: #777;
  min-height: 100px;
}

.test__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 20px;
  background-color: aqua;
}

.test__left,
.test__right {
  width: 50%;
}

.test__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__item,
.label__item {
  font-size: 22px;
}

.label__item {
  color: rgb(44, 44, 44);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}

.input__item {
  color: #000;
  width: 200px;
  padding: 5px 15px;
  margin: 10px 0 15px;
  border-radius: 5px;
  outline: none;
}

.test__sum {
  width: 100%;
  font-size: 32px;
  text-align: end;
}

button.test__btn {
  font-size: 22px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 7px;
          box-shadow: 0 4px 7px;
  -webkit-transition: -webkit-box-shadow 0.1s ease 0s;
  transition: -webkit-box-shadow 0.1s ease 0s;
  transition: box-shadow 0.1s ease 0s;
  transition: box-shadow 0.1s ease 0s, -webkit-box-shadow 0.1s ease 0s;
  cursor: pointer;
}
button.test__btn:active {
  -webkit-box-shadow: 0 1px 4px;
          box-shadow: 0 1px 4px;
}

.active {
  background-color: tomato;
}