/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
html,
body {
  background-color: rgba(0, 0, 0);
  // height: 100%;
  line-height: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*----------------*/
$header-height: 36px;

.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  width: 1200px;
  height: $header-height;
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
}
main {
  margin-top: $header-height;
  background-color: rgba(68, 68, 68, 0.732);
  color: #fff;
  padding: 30px 20px;
  min-height: 300px;
  position: relative;
}
nav {
  width: 100%;
}
.nav {
  display: flex;
}
.nav__item {
  padding: 10px 20px;
}
.mob-nav {
  display: none;
  height: 100%;
}
// burger start
.burger {
  display: block;
  height: 100%;
  width: 28px;
  border-bottom: 4px solid #fff;
  position: relative;
}
.burger::after,
.burger::before {
  content: '';
  height: 4px;
  display: block;
  position: absolute;
  width: 28px;
  background-color: #fff;
  top: 0;
}
.burger::before {
  top: 50%;
}

// burger end
@media (max-width: 600px) {
  .container,
  header {
    width: 380px;
  }
  .mob-nav {
    display: block;
    width: 36px;
    height: 28px;
    overflow: hidden;
    margin: 4px 10px;
  }
  .nav {
    width: 0;
    overflow: hidden;
    transition: 0.5s;
  }
}
._active {
  width: 100%;
  display: block;
  height: fit-content;
  overflow: visible;
  background-color: #000;
  margin: 2px 0 2px 40px;
  border-radius: 0 0 10px 10px;
}
._rotate {
  animation-name: rotate1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
  border: 8px solid #f00;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
    background-color: #fff;
    border-radius: 0%;
  }
  100% {
    transform: rotate(450deg);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
}
a {
  color: #fff;
}
.longblock {
  height: 8500px;
}
